.page {
	position: relative;
	width: 1920px;
	height: 4875px;
	overflow: hidden;
  }

  .section1 {
	width: 1920px;
	height: 4875px;
  }

  .bd1 {
	z-index: 72;
	height: 74px;
	background-color: rgba(2, 2, 2, 1);
	width: 1920px;
	position: relative;
	padding: 17px 0 0 240px;
  }

  .section2 {
	width: 1262px;
	height: 42px;
  }

  .mod1 {
	height: 42px;
	border-radius: 21px;
	border: 2px solid rgba(212, 179, 93, 1);
	padding-left: 14px;
	width: 188px;
  }

  .label1 {
	width: 30px;
	height: 26px;
  }

  .txt1 {
	width: 39px;
	height: 14px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 14px;
	font-family: Arial-BoldMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
	margin: 14px 0 0 300px;
  }

  .txt2 {
	width: 95px;
	height: 14px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(204, 204, 204, 1);
	font-size: 14px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
	margin: 14px 0 0 120px;
  }

  .txt3 {
	width: 39px;
	height: 14px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(204, 204, 204, 1);
	font-size: 14px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
	margin: 14px 0 0 120px;
  }

  .info1 {
	width: 43px;
	height: 14px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(204, 204, 204, 1);
	font-size: 14px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
	margin: 14px 0 0 120px;
  }

  .label2 {
	width: 12px;
	height: 7px;
	margin: 18px 0 0 8px;
  }

  .info2 {
	width: 78px;
	height: 14px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(204, 204, 204, 1);
	font-size: 14px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
	margin: 14px 0 0 100px;
  }

  .txt4 {
	z-index: 74;
	position: absolute;
	left: 292px;
	top: 32px;
	width: 120px;
	height: 12px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 14px;
	letter-spacing: -0.6000000238418579px;
	font-family: Arial-BoldMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
  }

  .bd2 {
	z-index: 7;
	position: relative;
	width: 1920px;
	height: 600px;
	overflow: hidden;
	background: url(./img/SketchPngce061554924799cab85dec37f5b03a77db791d5061cb538dbcf00c5613afda0d.png)
	  100% no-repeat;
  }

  .mod2 {
	z-index: 9;
	height: 600px;
	background: url(./img/SketchPng84618a8d741ab167ebce462f439e6b6bcf4263ce64077826226694c7b9944e88.png)
	  100% no-repeat;
	width: 1397px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 79px 0 0 278px;
  }

  .layer1 {
	width: 538px;
	height: 500px;
	background: url(./img/SketchPng0dfbb600e62656a94c0f0a827321ffbac64fb63e0f065cd4595047b559634b50.png)
	  100% no-repeat;
  }

  .pic1 {
	z-index: 8;
	position: absolute;
	left: 1396px;
	top: 0;
	width: 524px;
	height: 600px;
  }

  .mod3 {
	z-index: 11;
	position: absolute;
	left: 415px;
	top: 310px;
	width: 401px;
	height: 400px;
	background: url(./img/SketchPng7cd752a95eb5e50464b2d1186ca657b6318f7cd93819ba2aa50be381667e32af.png)
	  0px 0px no-repeat;
  }

  .mod4 {
	z-index: 12;
	position: absolute;
	left: 306px;
	top: 385px;
	width: 266px;
	height: 266px;
	background: url(./img/SketchPng559d4799690a07e9bf0d48d8d80689167d0d2c536d62c663e09becdf743c6e7a.png) -1px
	  0px no-repeat;
  }

  .bd3 {
	z-index: 2;
	height: 4055px;
	background: url(./img/SketchPng438952f0ef194c47b59debc3f4e0ead0a7d0713ed5f7eba9678d8fc69db77c2f.png)
	  100% no-repeat;
	padding-top: 445px;
	width: 1920px;
	position: relative;
  }

  .main1 {
	width: 1920px;
	height: 3610px;
  }

  .bd4 {
	width: 1919px;
	height: 1591px;
  }

  .img1 {
	width: 457px;
	height: 854px;
	margin-top: 737px;
  }

  .wrap1 {
	width: 927px;
	height: 1431px;
  }

  .img2 {
	width: 418px;
	height: 1030px;
	margin-left: 509px;
  }

  .block1 {
	z-index: 45;
	height: 400px;
	background: url(./img/SketchPng0431e71699757b9876d69004d584c7033c01b37844629e6fa053ff77414217aa.png)
	  100% no-repeat;
	margin-top: 1px;
	width: 688px;
	position: relative;
	padding: 49px 0 0 33px;
  }

  .img3 {
	width: 318px;
	height: 287px;
  }

  .pic2 {
	z-index: 48;
	position: absolute;
	left: 347px;
	top: 49px;
	width: 316px;
	height: 287px;
  }

  .pic3 {
	z-index: 49;
	position: absolute;
	left: 162px;
	top: 80px;
	width: 305px;
	height: 256px;
  }

  .bd5 {
	width: 1114px;
	height: 100px;
	margin-left: 403px;
  }

  .pic4 {
	width: 336px;
	height: 40px;
	margin-top: 18px;
  }

  .group1 {
	height: 100px;
	background: url(./img/SketchPng6d04a97ccf36600f5a46a19a27a51d9099fa61f89f18a6e0315f4384c6f8e8e8.png)
	  100% no-repeat;
	width: 400px;
  }

  .txt5 {
	width: 314px;
	height: 36px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 36px;
	font-family: Arial-BoldMT;
	white-space: nowrap;
	line-height: 36px;
	text-align: left;
  }

  .img4 {
	width: 336px;
	height: 40px;
	margin-top: 18px;
  }

  .bd6 {
	width: 235px;
	height: 20px;
	margin: 123px 0 0 938px;
  }

  .box1 {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: rgba(128, 212, 93, 1);
	margin-top: 4px;
  }

  .word1 {
	width: 209px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
  }

  .bd7 {
	z-index: 5;
	height: 1662px;
	background: url(./img/SketchPng1f70248405375afb70d2cbafccae9cdc5acf767e85f5b0dfdf20beac22c50ae9.png)
	  100% no-repeat;
	width: 1919px;
	position: relative;
	margin: 114px 0 0 1px;
	padding: 32px 0 0 239px;
  }

  .section3 {
	width: 1440px;
	height: 1430px;
  }

  .box2 {
	width: 206px;
	height: 20px;
	margin-left: 894px;
  }

  .mod5 {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: rgba(93, 112, 212, 1);
	margin-top: 4px;
  }

  .word2 {
	width: 180px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
  }

  .box3 {
	width: 1114px;
	height: 100px;
	margin: 415px 0 0 161px;
  }

  .pic5 {
	width: 336px;
	height: 40px;
	margin-top: 22px;
  }

  .box4 {
	height: 100px;
	background: url(./img/SketchPng6d04a97ccf36600f5a46a19a27a51d9099fa61f89f18a6e0315f4384c6f8e8e8.png)
	  100% no-repeat;
	width: 400px;
  }

  .word3 {
	width: 184px;
	height: 36px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 36px;
	font-family: Arial-BoldMT;
	white-space: nowrap;
	line-height: 36px;
	text-align: left;
  }

  .img5 {
	width: 336px;
	height: 40px;
	margin-top: 22px;
  }

  .box5 {
	width: 1248px;
	height: 20px;
	margin: 100px 0 0 88px;
  }

  .word4 {
	width: 147px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
  }

  .word5 {
	width: 158px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
	margin-left: 216px;
  }

  .txt6 {
	width: 158px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
	margin-left: 206px;
  }

  .word6 {
	width: 158px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
	margin-left: 205px;
  }

  .box6 {
	width: 1440px;
	height: 12px;
	border-radius: 6px;
	background-color: rgba(80, 63, 42, 1);
	margin-top: 24px;
  }

  .box7 {
	width: 1270px;
	height: 214px;
	margin: 31px 0 0 88px;
  }

  .infoBox1 {
	width: 136px;
	height: 214px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-family: ArialMT;
	line-height: 24px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .paragraph1 {
	width: 188px;
	height: 127px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-family: ArialMT;
	line-height: 24px;
	text-align: left;
	margin-left: 227px;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .paragraph2 {
	width: 203px;
	height: 77px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-family: ArialMT;
	line-height: 24px;
	text-align: left;
	margin-left: 176px;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .infoBox2 {
	width: 180px;
	height: 77px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-family: ArialMT;
	line-height: 24px;
	text-align: left;
	margin-left: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .box8 {
	width: 1114px;
	height: 100px;
	margin: 160px 0 0 161px;
  }

  .pic6 {
	width: 336px;
	height: 40px;
	margin-top: 24px;
  }

  .box9 {
	height: 100px;
	background: url(./img/SketchPng6d04a97ccf36600f5a46a19a27a51d9099fa61f89f18a6e0315f4384c6f8e8e8.png)
	  100% no-repeat;
	padding-left: 137px;
	width: 400px;
  }

  .info3 {
	width: 127px;
	height: 36px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 36px;
	font-family: Arial-BoldMT;
	white-space: nowrap;
	line-height: 36px;
	text-align: left;
  }

  .pic7 {
	width: 336px;
	height: 40px;
	margin-top: 24px;
  }

  .box10 {
	width: 1201px;
	height: 1px;
	background: url(./img/SketchPng378717a7dfca8bbfe0483f48e6711911f2b73d65c074499c327653ce763c0f61.png)
	  100% no-repeat;
	margin: 73px 0 0 120px;
  }

  .box11 {
	width: 1161px;
	height: 55px;
	margin: 70px 0 0 142px;
  }

  .img6 {
	width: 50px;
	height: 50px;
  }

  .mod6 {
	width: 782px;
	height: 52px;
	margin-top: 3px;
	justify-content: space-between;
  }

  .pic8-0 {
	width: 50px;
	height: 32px;
	margin: 6px 318px 0 0;
  }

  .pic8-1 {
	width: 50px;
	height: 32px;
	margin: 6px 318px 0 0;
  }

  .pic8-2 {
	width: 50px;
	height: 32px;
	margin: 6px 318px 0 0;
  }

  .box12 {
	width: 1200px;
	height: 20px;
	margin: 15px 0 0 120px;
  }

  .txt7 {
	width: 94px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
  }

  .txt8 {
	width: 131px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
	margin-left: 266px;
  }

  .word7 {
	width: 93px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
	margin-left: 256px;
  }

  .word8 {
	width: 85px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
	margin-left: 275px;
  }

  .section4 {
	z-index: 152;
	position: absolute;
	left: 327px;
	top: 702px;
	width: 30px;
	height: 30px;
	background-color: rgba(212, 179, 93, 1);
	border-radius: 50%;
  }

  .section5 {
	z-index: 153;
	position: absolute;
	left: 690px;
	top: 702px;
	width: 30px;
	height: 30px;
	background-color: rgba(212, 179, 93, 1);
	border-radius: 50%;
  }

  .section6 {
	z-index: 154;
	position: absolute;
	left: 1054px;
	top: 702px;
	width: 30px;
	height: 30px;
	background-color: rgba(212, 179, 93, 1);
	border-radius: 50%;
  }

  .section7 {
	z-index: 155;
	position: absolute;
	left: 1417px;
	top: 702px;
	width: 30px;
	height: 30px;
	background-color: rgba(212, 179, 93, 1);
	border-radius: 50%;
  }

  .main2 {
	z-index: 38;
	height: 400px;
	background: url(./img/SketchPng0f2d68365b66ddc87cf0422bf2e40ee2de4217728cc224ef305e55c6b1a19842.png)
	  100% no-repeat;
	width: 688px;
	position: absolute;
	left: 240px;
	top: 1476px;
	padding: 45px 0 0 34px;
  }

  .group2 {
	z-index: 40;
	position: relative;
	width: 630px;
	height: 294px;
	border-radius: 10px;
	overflow: hidden;
	background: url(./img/SketchPnga48e8dbb06b87c767e082acbc63e9aa5cb273dbbe52737a0c274de8f502a9451.png)
	  100% no-repeat;
  }

  .img7 {
	z-index: 41;
	position: absolute;
	left: 0;
	top: 0;
	width: 630px;
	height: 294px;
  }

  .section8 {
	z-index: 42;
	position: absolute;
	left: 121px;
	top: 22px;
	width: 375px;
	height: 295px;
	background: url(./img/SketchPng246958ab2f8e09ba5bfd79ba1ddf7a11a6c74f3598dd93d7eb634c5a6f36cf8c.png)
	  0px 0px no-repeat;
  }

  .word9 {
	z-index: 118;
	position: absolute;
	left: 1061px;
	top: 2299px;
	width: 209px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
  }

  .info4 {
	z-index: 119;
	position: absolute;
	left: 1125px;
	top: 2358px;
	width: 248px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
  }

  .txt9 {
	z-index: 121;
	position: absolute;
	left: 578px;
	top: 2378px;
	width: 180px;
	height: 20px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 20px;
	text-align: left;
  }

  .main3 {
	z-index: 117;
	position: absolute;
	left: 552px;
	top: 2382px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: rgba(226, 178, 68, 1);
  }

  .main4 {
	z-index: 105;
	height: 400px;
	background: url(./img/SketchPng11ee5bdb6b45f08af36bb2697b860ce8d1033a02ffdc527459905ce5b9173053.png)
	  100% no-repeat;
	width: 400px;
	position: absolute;
	left: 734px;
	top: 2300px;
  }

  .layer2 {
	width: 16px;
	height: 16px;
	margin: 3px 0 0 301px;
  }

  .box13 {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: rgba(212, 93, 149, 1);
  }

  .layer3 {
	width: 16px;
	height: 16px;
	margin: 43px 0 322px 365px;
  }

  .section9 {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: rgba(93, 180, 212, 1);
  }

  .bd8 {
	height: 146px;
	background-color: rgba(2, 2, 2, 1);
	width: 1920px;
  }

  .outer1 {
	width: 760px;
	height: 26px;
	margin: 50px 0 0 240px;
  }

  .label3 {
	width: 30px;
	height: 26px;
  }

  .info5 {
	width: 120px;
	height: 12px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 14px;
	letter-spacing: -0.6000000238418579px;
	font-family: Arial-BoldMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
	margin: 7px 0 0 6px;
  }

  .icon1 {
	width: 20px;
	height: 20px;
	margin-left: 524px;
  }

  .label4 {
	width: 20px;
	height: 20px;
	margin-left: 10px;
  }

  .layer4 {
	z-index: 65;
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	background: url(./img/SketchPngbf65915baf18a68c5aec8b253f70fc6d568b8fbf0bdd67a325b66b861eb19ece.png)
	  100% no-repeat;
	margin-left: 10px;
  }

  .icon2 {
	z-index: 66;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
  }

  .outer2 {
	width: 164px;
	height: 14px;
	margin: 24px 0 32px 878px;
  }

  .info6 {
	width: 164px;
	height: 14px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(204, 204, 204, 1);
	font-size: 14px;
	font-family: MicrosoftYaHei;
	white-space: nowrap;
	line-height: 14px;
	text-align: center;
  }

  .section10 {
	z-index: 13;
	height: 1514px;
	background: url(./img/SketchPng07199b312a4838e500762eed94fe366c807d51b248fe237fdc843e07f12bff3f.png)
	  100% no-repeat;
	width: 1917px;
	position: absolute;
	left: 0;
	top: 74px;
	padding: 30px 0 0 360px;
  }

  .section11 {
	width: 1315px;
	height: 1230px;
  }

  .outer3 {
	height: 30px;
	border-radius: 15px;
	border: 1px solid rgba(212, 179, 93, 1);
	margin-left: 390px;
	width: 420px;
  }

  .word10 {
	width: 386px;
	height: 14px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 14px;
	font-family: ArialMT;
	white-space: nowrap;
	line-height: 14px;
	text-align: left;
  }

  .txt10 {
	width: 560px;
	height: 182px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(212, 179, 93, 1);
	font-size: 48px;
	font-family: Arial-BoldMT;
	line-height: 60px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 108px 0 0 715px;
  }

  .word11 {
	width: 600px;
	height: 56px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 24px;
	font-family: ArialMT;
	line-height: 28px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 30px 0 0 715px;
  }

  .outer4 {
	width: 80px;
	height: 20px;
	margin: 94px 0 0 720px;
  }

  .label5 {
	width: 20px;
	height: 20px;
  }

  .icon3 {
	width: 20px;
	height: 20px;
  }

  .layer5 {
	z-index: 97;
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	background: url(./img/SketchPngbf65915baf18a68c5aec8b253f70fc6d568b8fbf0bdd67a325b66b861eb19ece.png)
	  100% no-repeat;
  }

  .label6 {
	z-index: 98;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
  }

  .outer5 {
	height: 500px;
	background: url(./img/SketchPng35e2b4f9a94594f1ff75b8340bcd75c03f8911edfa1906fddd53b4147109cfdb.png)
	  100% no-repeat;
	margin-top: 210px;
	width: 1200px;
  }

  .wrap2 {
	z-index: 137;
	height: 440px;
	border-radius: 60px;
	overflow: hidden;
	background: url(./img/SketchPng8d69006556a7258b7285338f0159ad44e48569c9cc08793a7664bd70635d42f9.png)
	  100% no-repeat;
	width: 1130px;
	position: relative;
	padding: 190px 0 0 544px;
  }

  .mod7 {
	z-index: 139;
	position: static;
	left: 939px;
	top: 1054px;
	width: 50px;
	height: 50px;
	background: url(./img/SketchPng8c8498378078fc80cb74f2dd84470f46e46debcdc374c7fec967a449bacd360a.png)
	  0px -1px no-repeat;
  }

  .img8 {
	z-index: 138;
	position: absolute;
	left: 0;
	top: 0;
	width: 1130px;
	height: 440px;
  }

  .section12 {
	z-index: 28;
	height: 496px;
	background: url(./img/SketchPng371bc6136d3f13cd75c02bb7a7e3c66bf7356b06e9c9543a12b57a09c9e80a91.png)
	  100% no-repeat;
	width: 420px;
	position: absolute;
	left: 240px;
	top: 1494px;
  }

  .bd9 {
	height: 410px;
	border-radius: 20px;
	background: url(./img/SketchPng60b38d674357710de50225e9a296395885a57e5eec7c9f422507ca4a02b37024.png)
	  100% no-repeat;
	padding-top: 10px;
	width: 330px;
  }

  .group3 {
	width: 310px;
	height: 344px;
  }

  .wrap3 {
	z-index: 31;
	position: relative;
	width: 310px;
	height: 280px;
	border-radius: 10px;
	overflow: hidden;
	background: url(./img/SketchPng0dad36c0c9d6f6de1f6a2af25b21e518a93881ca604b042ac253860a6e23acd4.png)
	  100% no-repeat;
  }

  .pic9 {
	z-index: 32;
	position: absolute;
	left: 0;
	top: 0;
	width: 310px;
	height: 280px;
  }

  .infoBox3 {
	width: 300px;
	height: 44px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-family: Arial-BoldMT;
	line-height: 24px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 0 0 5px;
  }

  .section13 {
	z-index: 21;
	height: 496px;
	background: url(./img/SketchPng371bc6136d3f13cd75c02bb7a7e3c66bf7356b06e9c9543a12b57a09c9e80a91.png)
	  100% no-repeat;
	width: 420px;
	position: absolute;
	left: 750px;
	top: 1494px;
  }

  .section14 {
	height: 410px;
	border-radius: 20px;
	background: url(./img/SketchPng60b38d674357710de50225e9a296395885a57e5eec7c9f422507ca4a02b37024.png)
	  100% no-repeat;
	width: 330px;
	padding: 10px 0 0 9px;
  }

  .layer6 {
	width: 310px;
	height: 372px;
  }

  .layer7 {
	z-index: 24;
	position: relative;
	width: 310px;
	height: 280px;
	border-radius: 10px;
	overflow: hidden;
	background: url(./img/SketchPng0dad36c0c9d6f6de1f6a2af25b21e518a93881ca604b042ac253860a6e23acd4.png)
	  100% no-repeat;
  }

  .img9 {
	z-index: 25;
	position: absolute;
	left: 0;
	top: 0;
	width: 310px;
	height: 280px;
  }

  .layer8 {
	width: 300px;
	height: 72px;
	overflow-wrap: break-word;
	text-align: left;
	margin-top: 20px;
	font-size: 0;
  }

  .word12 {
	font-size: 14px;
	font-family: Arial-BoldMT;
	color: rgba(255, 255, 255, 1);
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .txt11 {
	font-size: 14px;
	font-family: Arial-BoldMT;
	color: rgba(255, 255, 255, 1);
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .section15 {
	z-index: 15;
	height: 496px;
	background: url(./img/SketchPng371bc6136d3f13cd75c02bb7a7e3c66bf7356b06e9c9543a12b57a09c9e80a91.png)
	  100% no-repeat;
	padding-top: 48px;
	width: 420px;
	position: absolute;
	left: 1260px;
	top: 1494px;
  }

  .block2 {
	height: 410px;
	border-radius: 20px;
	background: url(./img/SketchPng60b38d674357710de50225e9a296395885a57e5eec7c9f422507ca4a02b37024.png)
	  100% no-repeat;
	padding-top: 10px;
	width: 330px;
  }

  .outer6 {
	width: 310px;
	height: 372px;
  }

  .bd10 {
	z-index: 18;
	position: relative;
	width: 310px;
	height: 280px;
	border-radius: 10px;
	overflow: hidden;
	background: url(./img/SketchPng0dad36c0c9d6f6de1f6a2af25b21e518a93881ca604b042ac253860a6e23acd4.png)
	  100% no-repeat;
  }

  .pic10 {
	z-index: 19;
	position: absolute;
	left: 0;
	top: 0;
	width: 310px;
	height: 280px;
  }

  .info7 {
	width: 300px;
	height: 72px;
	display: block;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-family: Arial-BoldMT;
	line-height: 24px;
	text-align: left;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
  }
